@charset "utf-8";
/* CSS Document */
html,body {
	width: 100%;
	height: 100%;
	position: relative;
}

* {
	margin: 0;
	padding: 0;
}

/*第一页*/
body {
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
}

.content1 b {
	width: 51px;
	height: 51px;
	background: url(../images/1.jpg) no-repeat;
	position: absolute;
	margin-left: -25.5px;
	left: 50%;
	top: 20px;
}